<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- NFC Permission -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Specify that NFC is required -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
</manifest>